.banner{
    height: 100%;
    background-image: url('../../../assets/img/BG1.png');
    background-position: center top;
    background-size: cover;
}
.position-relative{
    top: 15%;
}
.content{
    position: absolute;
    left: 20%; 
}
.content h1{
    color: antiquewhite;
    font-weight: bold;
}

.content a{
    text-decoration: none;
    color: black;
    background-color: antiquewhite;
    font-size: 20px;
    border-radius: 5px;
}


.content a:hover{
    background-color: cadetblue;
    transition: 0.5s;
}